<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>BRECVA</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Crime Rate</span> vs Housing Price</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analysis">Analysis</a></li>
            <li class="current"><a href="/conclusion">Conclusion</a></li>
            
          </ul>
        </nav>
      </div>
    </header>

    <section id="main">
      <div class="container">
      <article id="main-col">
          <h1 class="page-title" style="font-size:40px">Afterthoughts...</h1>
          <ul id="services">
            <li>
                Based on the data shown, we cannot say for certain if neighborhood safety directly affects real estate prices.
                Since we have a vast amount of data, crime rates and types vary between neighborhoods.
            </li>
            <li>
                This application was created specifically for Baltimore real estate consumers and their desire for more knowledge about their neighborhood safety in relation to what they would be paying.  The application serves to give the user more capability to "dig deeper" into the details of crime type and neighborhood.
            </li>
          </ul>
        </article>

          <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;border-color:#9ABAD9;margin-top:62px;padding: 100 100 100 100}
            .tg td{font-family:Arial, sans-serif;font-size:25px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#444;background-color:#EBF5FF;}
            .tg th{font-family:Arial, sans-serif;font-size:25px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#fff;background-color:#409cff;}
            .tg .tg-0lax{text-align:left;vertical-align:top}
            </style>
            <table class="tg">
              <tr>
                <th class="tg-0lax">Relationship</th>
                <th class="tg-0lax">Pearson's Correlation</th>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Agg. Assault</td>
                <td class="tg-0lax">-0.3039</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Common Assault</td>
                <td class="tg-0lax">-0.1735</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Homicide</td>
                <td class="tg-0lax">-0.4630</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Robbery: Carjacking</td>
                <td class="tg-0lax">-0.2121</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Robbery: Commercial</td>
                <td class="tg-0lax">-0.0040</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Robbery: Residence</td>
                <td class="tg-0lax">-0.3338</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Robbery: Street</td>
                <td class="tg-0lax">-0.0061</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Rape</td>
                <td class="tg-0lax">-0.1395</td>
              </tr>
              <tr>
                <td class="tg-0lax">Price vs Shooting</td>
                <td class="tg-0lax">-0.4204</td>
              </tr>
            </table>

      </div>
    </section>

    <script src="{{ url_for('static', filename='js/regressdata.js') }}"></script>

    <footer>
      <p>Eric Tsai, Omar Howeedy, Rodrigo Anglarill</p>
    </footer>
  </body>
</html>
